<li class="item flexrow list-item" data-item-id="{{item._id}}">
  <img class="sheet-competence-img" src="{{item.img}}" title="{{item.name}}"/>

  {{#if (eq item.type 'conteneur')}}
  <span class="item-name conteneur-name"><a data-item-id="{{item._id}}">+{{item.name}}</a></span>
  {{else}}
  <span class="item-name">{{item.name}}</span>
  {{/if}}
  
  <span class="item-quantite">{{item.data.quantite}}</span>
  <span class="item-quantite">{{numberFormat item.data.encTotal decimals=2}}</span>
  <div class="item-controls">
    <a class="item-control item-edit" title="Editer"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Supprimer"><i class="fas fa-trash"></i></a>
  </div>
</li>
