<h3>Blessures:</h3>
<table class="table-container" role="table">
  <thead>
    <tr class="competence-header competence-title competence-label" >
      <th></th>
      <th>Localisation</th>
      <th>Premiers soins</th>
      <th>Soins complets</th>
      <th>Age (jours)</th>   
    </tr>
  </thead>
  <tbody>
    <tr class="table-row alterne-row" ><td/><td colspan="4">Légères</td></tr>
    {{#each data.blessures.legeres.liste as |bless key|}}
    {{> "systems/foundryvtt-reve-de-dragon/templates/actor-blessure-partial.html" bless=bless key=key gravite="legere" title="Légère"}}
    {{/each}}
    <tr class="table-row alterne-row"><td/><td colspan="4">Graves</td></tr>
    {{#each data.blessures.graves.liste as |bless key|}}
    {{> "systems/foundryvtt-reve-de-dragon/templates/actor-blessure-partial.html" bless=bless key=key gravite="grave" title="Grave"}}
    {{/each}}
    <tr class="table-row alterne-row"><td/><td colspan="4">Critiques</td></tr>
    {{#each data.blessures.critiques.liste as |bless key|}}
    {{> "systems/foundryvtt-reve-de-dragon/templates/actor-blessure-partial.html" bless=bless key=key gravite="critique" title="Critique"}}
    {{/each}}
  </tbody>
</table>