{{#if visible}}
{{#if data.isLevelUp}}
<li class="item flexrow xp-level-up" data-item-id="{{_id}}">
  {{else}}
<li class="item flexrow list-item" data-item-id="{{_id}}">
  {{/if}}
  <img class="sheet-competence-img" src="{{img}}" />
  {{#if data.isLevelUp}}
  <span class="competence-label tooltip tooltip-nobottom">
    <span class="tooltiptext ttt-xp">
      Vous pouvez dépenser {{data.xpNext}} points d'Experience pour augmenter de 1 votre compétence {{name}}
    </span>
    <a name={{key}}>{{name}}</a></span>
  {{else}}
  <span class="competence-label"><a>{{name}}</a></span>
  {{/if}}
  <input class="competence-value" type="text" compname="{{name}}" value="{{numberFormat data.niveau decimals=0 sign=true}}" data-dtype="number" {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
  <input class="competence-xp" type="text" compname="{{name}}" value="{{numberFormat data.xp decimals=0 sign=false}}" data-dtype="number" {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
  {{#if (eq data.categorie 'draconic')}}
  <input class="competence-xp-sort" type="text" compname="{{name}}" value="{{numberFormat data.xp_sort decimals=0 sign=false}}" data-dtype="number" {{#unless @root.options.editCaracComp}}disabled{{/unless}}/>
  {{/if}}
  <div class="item-controls">
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
  </div>
  {{#if @root.options.montrerArchetype}}
  <input class="competence-archetype" type="text" compname="{{name}}"
    value="{{numberFormat data.niveau_archetype decimals=0 sign=true}}" data-dtype="number" {{#unless @root.options.editCaracComp}}disabled{{/unless}} />
  {{/if}}
</li>
{{/if}}