<form class="dialog-roll-meditation">
 <div class="form-group">
  <ul class="item-list">
    <li class="item flexrow">
      <label><strong>Thème : {{meditation.data.theme}} </strong></label>
      <label>Intellect {{numberFormat carac.intellect.value decimals=0 sign=false}} / {{competence.name}} {{numberFormat competence.data.niveau decimals=0 sign=true}}</label>
    </li>
    <li class="item flexrow">
      <label>Sujet : {{competence.name}} ({{meditation.data.theme}})</label>
      <label>Durée : 60 minutes</label>
    </li>
    <li class="item flexrow">
      <label>Support : {{meditation.data.support}}</label>
      <label>Malus spécial : {{meditation.data.malus}}</label>
    </li>
    <li class="item flexrow"><label>Case TMR : {{meditation.data.tmr}}</label></li>
  </ul>
</div>

<div class="form-group">
  <label class="h4"><strong>Conditions Optionnelles : </strong></label>
</div>
<div class="form-group">
  <ul class="item-list">
  <li class="item flexrow">
    <label>Heure : {{meditation.data.heure}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isHeure" {{#if conditionMeditation.isHeure}}checked{{/if}}/>    
  </li>
  <li class="item flexrow">
    <label>Purification : {{meditation.data.purification}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isPurification" {{#if conditionMeditation.isPurification}}checked{{/if}}/>    
  </li>
  <li class="item flexrow">
    <label>Vêture : {{meditation.data.veture}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isVeture" {{#if conditionMeditation.isVeture}}checked{{/if}}/>    
  </li>
  <li class="item flexrow">
    <label>Comportement antérieur : {{meditation.data.comportement}}</label>
    <input class="attribute-value conditionMeditation" type="checkbox" id="isComportement" {{#if conditionMeditation.isComportement}}checked{{/if}}/>    
  </li>
</ul>

</div>
  <label>Conditions supplémentaires : </label>
  <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
</div>

<div id="tableAjustements">
</div>
<div id="tableResolution">
</div>
<div id="tableProbaReussite">  
</div>
</form>

<script>
</script>
