<form class="skill-roll-dialog">
  <h2 class="compdialog">Rêve de Dragon de force {{rencontre.force}}!</h2>
  <div class="form-group">
  </div>
  <div id="tableAjustements"></div>
  <div id="tableResolution"></div>
  <div id="tableProbaReussite"></div>
  </form>
  
  <script>
  </script>
  