<option value="">Ne peut pas parer</option>
<option value="sans-armes">Sans arme / armes naturelles</option>
<option value="hast">Armes d'hast</option>
<option value="batons">Bâtons</option>
<option value="boucliers">Boucliers</option>
<option value="dagues">Dagues</option>
<option value="epees-courtes">Epées courtes</option>
<option value="epees-longues">Epées longues</option>
<option value="epees-lourdes">Epées lourdes</option>
<option value="haches">Haches</option>
<option value="lances">Lances</option>
