<div class="control-icon rdd-combat ">
  <img class="rdd-hud-togglebutton" src="systems/foundryvtt-reve-de-dragon/icons/heures/hd06.svg" width="36" height="36" title="Attaque"/>
  <div class="rdd-hud-list tokenhudext left">
    {{#each armes as |arme key|}}
    {{#unless arme.data.initOnly}}
    <div class="control-icon tokenhudicon rdd-hud-menu rdd-attaque" data-combatant-id="{{../combatant._id}}" data-arme-id="{{arme.index}}"  title="{{arme.name}}">
      <label>C:{{arme.name}}  {{arme.data.mainInfo}}</label>
    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>