<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname">
              {{#if isGM}}
              <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
              {{else}}
              {{item.name}}
              {{/if}}
            </h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label>Catégorie </label>
        <select name="data.categorie" id="categorie" data-dtype="String">
              {{#select item.data.categorie}}
              {{>"systems/foundryvtt-reve-de-dragon/templates/enum-categorie-competence.html"}}
              {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="niveau">Niveau </label>
        <input class="attribute-value" type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">XP </label>
        <input class="attribute-value" id="sheet-competence-xp" type="text" name="data.xp" value="{{data.xp}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="base">Niveau de base </label>
        <select name="data.base" id="base" data-dtype="Number">
                {{#select item.data.base}}
                {{>"systems/foundryvtt-reve-de-dragon/templates/competence-base.html"}}
                {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label for="defaut_carac">Caractéristique par défaut </label>
        <select name="data.defaut_carac" id="defaut_carac" data-dtype="String">
          {{#select item.data.defaut_carac}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/competence-carac-defaut.html"}}
          {{/select}}
        </select>        
      </div>
      <div class="form-group">
        <label for="default_diffLibre">Difficulté libre par défaut</label>
        <input class="attribute-value" type="text" name="data.default_diffLibre" value="{{data.default_diffLibre}}" data-dtype="Number"/>
      </div>
      {{#if (eq data.categorie 'draconic')}}
      <div class="form-group">
        <label for="xp">XP Sort </label>
        <input class="attribute-value" type="text" name="data.xp_sort" value="{{data.xp_sort}}" data-dtype="Number"/>
      </div>
      {{/if}}
      <div class="form-group">
        <label for="niveau_archetype">Niveau d'Archetype</label>
        <input class="attribute-value" type="text" name="data.niveau_archetype" value="{{data.niveau_archetype}}" data-dtype="Number"/>
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
