<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Auteur</label>
        <input class="attribute-value" type="text" name="data.auteur" value="{{data.auteur}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Compétence</label>
        <select name="data.competence" id="competenceselect" data-dtype="String">
          {{#select item.data.competence}}
          {{#each competences as |competence key|}}
          <option value="{{competence.name}}">{{competence.name}}</option>
          {{/each}}
          {{/select}}    
        </select>
      </div>
      <div class="form-group">
        <label for="xp">Difficulté</label>
        <input class="attribute-value" type="text" name="data.difficulte" value="{{data.difficulte}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Points de tâches</label>
        <input class="attribute-value" type="text" name="data.points_de_tache" value="{{data.points_de_tache}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Expérience</label>
        <input class="attribute-value" type="text" name="data.xp" value="{{data.xp}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Niveau minimum</label>
        <input class="attribute-value" type="text" name="data.niveau_minimum" value="{{data.niveau_minimum}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Niveau maximum</label>
        <input class="attribute-value" type="text" name="data.niveau_maximum" value="{{data.niveau_maximum}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Encombrement </label>
        <input class="attribute-value" type="text" name="data.encombrement" value="{{data.encombrement}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label>Quantité </label>
        <input class="attribute-value" type="text" name="data.quantite" value="{{data.quantite}}" data-dtype="Number" />
      </div>
      <div class="form-group">
        <label for="xp">Prix (sols) </label>
        <input class="attribute-value" type="text" name="data.cout" value="{{data.cout}}" data-dtype="Number"/>
      </div>
      {{#if isOwned}}
      <div class="form-group">
        <span for="xp"><a id="creer-tache-livre" data-actor-id="{{actorId}}">Créer une tâche de lecture</a></span>
      </div>
      {{/if}}
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
