<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label>Caractéristique</label>
        <select name="data.default_carac" id="default_carac" data-dtype="String">
          {{#select item.data.default_carac}}
          {{>"systems/foundryvtt-reve-de-dragon/templates/competence-carac-defaut.html"}}
          {{/select}}
        </select>
      </div>
      <div class="form-group">
        <label>Compétence</label>
        <select name="data.competence" id="competenceselect" data-dtype="String">
          {{#select item.data.competence}}
          {{#each competences as |competence key|}}
          <option value="{{competence.name}}">{{competence.name}}</option>
          {{/each}}
          {{/select}}    
        </select>
      </div>
      <div class="form-group">
        <label>Référence / Auteur</label>
        <input class="attribute-value" type="text" name="data.reference" value="{{data.reference}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label>Niveau</label>
        <input class="attribute-value" type="text" name="data.niveau" value="{{data.niveau}}" data-dtype="Number"/>
      </div>
      <div class="flexcol">
        <span><label>Description : </label></span>
        <div class="form-group editor">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
    </section>
    
</form>
